%p#notice= notice

%p
  %b Firstname:
  = @player.firstname
%p
  %b Lastname:
  = @player.lastname
%p
  %b Picture:
  - if @player.picture.present?
  	= image_tag player.picture_url 
= link_to 'Edit', edit_player_path(@player)
\|
= link_to 'Back', players_path
