#notice
	%p
		= notice

.row
	.col-md-9
		- if @player.picture.present?
			= image_tag @player.picture_tag
	.col-md-3
		%p
			%b Name:
				= @player.firstname
				= @player.lastname
		%p
			= link_to 'Edit', edit_player_path(@player)
			= link_to 'Destroy', @player, data: { confirm: 'Are you sure?' }, method: :delete
			= link_to 'Back', players_path