
<h1>New Match</h1>

<%= form_for match do |f| %>
  <fieldset>
    <%= f.label :match_date %>
    <%= f.date_select :match_date, :order => [:day, :month, :year] %>

    <%= f.label :player_ids, 'Select players' %>
    <%= f.collection_select :player_ids, players, :id, :lastname, {}, { multiple: true } %>

    <%= f.submit %>
  </fieldset>
<% end %>