= form_for(@match) do |f|
  = f.label :match_date
  = f.date_select :match_date, :order => [:day, :month, :year]

  = f.fields_for :match_edits do |ff|
    = ff.label :player_id, 'Select player'
    = ff.collection_select :player_id, @players, :id, :lastname, {}, { multiple: false }
    = ff.label :result
    = ff.number_field :result, in: 0..10
  %div
    = f.button :submit, id: 'test'